body {
    background-color: lavender;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.card {
    width: 50vw;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.today-header {
    overflow: hidden;
}

.today-body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.today-header-temp-and-icon {
    display: flex;
    align-items: center;
}

.address {
    background-color: #0000008c;
    color: white;
    font-size: 1.25em;
    margin: -10px;
    padding: 5px;
    margin-bottom: 5px;
}

.temp {
    font-size: 2.5em;
}

.conditions,
.today-header-high-and-low {
    font-size: 1.5em;
}

.today-grid-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}

.today-grid-item:nth-last-child(2),
.today-grid-item:last-child {
    border-bottom: none;
}

.feelslike-and-sunrise-and-sunset {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.feelslike>div:last-child {
    font-size: 3.5em;
    font-weight: bold;
}

.hourly-forecasts {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.hourly-forecast {
    display: inline-block;
    background-color: whitesmoke;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.hourly-temp {
    font-size: 1.5em;
}

.daily-forecast {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 1em;
    align-items: center;
    font-size: 1.5em;
}

.daily-forecast>span:first-child {
    padding: 10px;
}

.daily-forecast>span:last-child {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.daily-forecast>span:last-child>span:last-child {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.daily-forecast>span:last-child>span:nth-child(2) {
    font-size: 0.75em;
}