body {
    background-color: lightgray;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.today-header,
.today-body {
    width: 50vw;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.today-header {
    overflow: hidden;
}

.today-body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.today-header-temp-and-icon {
    display: flex;
    align-items: center;
}

.address {
    background-color: #0000008c;
    color: white;
    font-size: 1.25em;
    margin: -10px;
    padding: 5px;
    margin-bottom: 5px;
}

.temp {
    font-size: 2.5em;
}

.conditions,
.today-header-high-and-low {
    font-size: 1.5em;
}

.today-grid-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}

.today-grid-item:nth-last-child(2),
.today-grid-item:last-child {
    border-bottom: none;
}

.feelslike-and-sunrise-and-sunset {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.feelslike>div:last-child {
    font-size: 3.5em;
    font-weight: bold;
}